body {
  background-color: #e9ebee;
  color: #1d2129;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timeline {
  width: 100%;
  margin: 0 auto;
}

.status {
  background-color: white;
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2px;
  border: .25px lightgrey solid;
}

.profile-pic {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.user-info {
  display: flex;
}

.user-text > * {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 12px;
}

.user-text a {
  color: #385898;
  text-decoration: none;
}

.user-text small {
  color: #616770;
}

.status-text {
  padding: 5px;
  font-size: 14px;
}

.reaction-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  font-size: 12px;
  font-weight: bold;
}

hr {
  border-top: .5px solid lightgrey;
}